.hero {
    min-height: calc(100vh - 72px);

    display: flex;
    align-items: center;

    padding: 5%;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.75)
        ),
        #171717;
}

.hero-content {
    max-width: 700px;
}

.hero-label {
    margin-bottom: 1rem;

    font-size: 0.8rem;
    letter-spacing: 0.2rem;

    color: #adadad;
}

.hero h1 {
    max-width: 650px;

    margin-bottom: 1.5rem;

    font-size: clamp(
        3rem,
        7vw,
        6.5rem
    );

    line-height: 0.95;

    text-transform: uppercase;
}

.hero-content > p:not(.hero-label) {
    max-width: 500px;

    margin-bottom: 2rem;

    color: #b9b9b9;

    font-size: 1.1rem;
}


/* DESTACADOS */

.featured {
    padding: 7rem 5%;
}

.section-header {
    margin-bottom: 3rem;
}

.section-header p {
    margin-bottom: 0.5rem;

    color: #969696;

    font-size: 0.75rem;

    letter-spacing: 0.2rem;
}

.section-header h2 {
    font-size: clamp(
        2rem,
        4vw,
        3.5rem
    );
}


@media (max-width: 650px) {

    .hero {
        min-height: 75vh;

        padding: 2rem 5%;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .featured {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

}